.checkout {
    margin: 2rem auto;
}
.checkout h1 {
      display: block;
      width: 100%;
    }
  
    .checkout   h1, p {
      text-align: center;
    }
  
    .checkout  .checkoutHeader {
      border-bottom: 1px solid black;
    }
  
    .checkout .cart {
      max-width: 100.0rem;
      margin: 0 auto;
  
    
    }
    .checkout table {
        width: 100%;
      }
  
      .checkout .checkoutHeader,
      .checkout .cart {
      width: 100%;
      text-align: left;
  
   
    }
    .checkout  th,
      td {
        width: 22%;
      }
  
      .checkout .cartItem  td img {
     
        display: block;
        width: 100%;
      
    }
  
    .checkout .cartBtns {
      display: block;
      width: 100%;
    }
  
    .checkout .cartBtn {
      cursor: pointer;
    }
  
  
  
  @media only screen and (max-width: 980px) {
  
    .checkoutHeader {
      display: none;
    }
  
    .cartItem {
      border: 1px solid black;
    }
  
    .checkout .cart td {
      display: block;
      width: 100%;
    }
  
    .checkout .cartBtn.remove {
      display: block;
      width: 100%;
      padding: 1.0rem;
      background-color: black;
      color: white;
    }
  }