.userProfile {
    display: block;
    width: 100%;
}
.userProfile  ul li {
      margin: 0;
      width:100%;
      padding: 0;
      list-style-type: none;
    }
  

        .userProfile .img {
            display: block;
            width: 100px;
            margin:0 auto;
          }
  
        .displayName {
          display: block;
          width: 100%;
          text-align: center;
          font-size: 22px;
      
          text-transform: uppercase;
        }
      
    
